.main {
  max-width: 1120px;
  width: 50%;
  margin: 0 auto;

  .container {
    width: 100%;

    h1 {
      margin-bottom: 8px;
    }

    p {
      margin-bottom: 24px;
    }

    .footerContainer {
      margin-bottom: 48px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    & + div {
      margin-top: 48px;
      margin-bottom: 64px;
    }

    &:hover {
      color: var(--Highlight);
      cursor: pointer;

      h1 {
        color: var(--Highlight);
      }
    }
  }

  .next_page {
    padding-bottom: 20px;

    &:hover {
      color: var(--Info);
      text-decoration: underline;
    }
  }
}
